   .box {
            display: inline-block;   
            width: 25%;              
            padding: 10px;
            margin: 10px;
            background-color:darkgray;
            border: 2px ;
        }